<div class="access">

  <% if @error %>

    <div class="input_error"><%= @error %></div>
  
  <% end %>

  <% if @alert %>

    <div class="input_alert"><%= @alert %></div>
  
  <% end %>

  <%= form_tag "/access/password/reset", method: :post,autocomplete: 'off' do %>

    <%= text_field_tag :email,nil,class: 'FULL',placeholder: 'Email',value: params[:email] %>
    <%= submit_tag 'Request Password Reset',class: 'button FULL' %>

  <% end %>

</div>