<!DOCTYPE html>
<html>
<head>
  <title>Hotice</title>
  <%= stylesheet_link_tag    'application/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>var current_user = <%= session[:user].to_json.html_safe %>;</script>
</head>
<body ng:App="HotIce">

	<table class="dashboard_table">

		<tr class="in">
			<td class="in" valign="top" align="center">

				<%= image_tag 'hotice.png',height: 80,class: 'logo' %>

			</td>
			<td class="in" valign="middle" align="right">

				<a href="/signout" class="orange_link">Sign Out</a>
				<a href="#" class="orange_link"><%= current_user['gamertag'] || current_user['email'] %></a>
				<div class="CLEAR"></div>

			</td>
		</tr>

		<tr class="in">
			<td class="in" valign="top">

				<div class="create_team"><a href="/dashboard/#/teams/new">+ Create a Team</a></div>

				<ul class="nav">
					<li><a href="/dashboard/#/" class="<%= 'ORANGE' if params[:controller] == 'dashboard' %>">Home</a></li>
					<li>
						<a href="/myteams" class="<%= 'ORANGE' if params[:controller] == 'myteams' %>">My Teams</a>
					</li>
					<li><a href="/mytournaments" class="<%= 'ORANGE' if params[:controller] == 'mytournaments' %>">My Tournaments</a></li>
				</ul>
				<div class="nav_killer"></div>

			</td>
			<td class="in" valign="top">

				<div ng:view></div>

			</td>
		</tr>

	</table>

</body>
</html>